<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main></main>
  <h1>Questions</h1>
  <ul>
    <% answers.forEach(answer => { %>
      <li>
        <a href="/answers/<%= answer._id %>"><%= answer.text %></a>
        <!-- above needs to be the question that belongs to the answer -->
        <a href="/answers/<%= answer._id %>"><%= answer.text %></a>

      <form>
        
      </form>

    </li>
    <% }) %>
  </ul>

</main>

<%- include('../partials/footer') %>
