<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>

  <% if (profile.avatar) { %>
    <div>
      <img id="avatar"
      src="<%= profile.avatar %>"
      alt="<%= profile.name %> avatar"
      />
    </div>
    <% } %>
  <h1> <%= profile.name %></h1>

  <section>
    <ul>
      <% profile.answers.forEach(answer => { %>
        <% if (answer.author.equals(profile._id)) { %>
          <li>

            <%= answer.question.text %>
            <%= answer.text %>
            <form
              action="/answers/<%= answer._id %>?_method=PUT" method="POST"
            >
              <input
                type="text"
                name="text"
                value=" <%= answer.text %> "
                autocomplete="off"
              >
              <button type="submit">update</button>
            </form>
            <form
              action="/answers/<%= answer._id %>?_method=DELETE"
              method="POST"
              style="display: inline-block;"
            >
              <button type="submit">delete</button>
            </form>
          </li>
        <% } %>
      <% }) %>
    </ul>
  </section>
</main>

<%- include('../partials/footer') %>
