<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>

  <% if (profile.avatar) { %>
    <div>
      <img id="avatar"
      src="<%= profile.avatar %>"
      alt="<%= profile.name %> avatar"
      />
    </div>
    <% } %>
  <h1> <%= profile.name %></h1>


<% if (profile.answers.length) { %>
  <% profile.answers.forEach(answer => { %>
    <h3>
      <%= answer%>
    </h3>
    <form
      action="/answers/<%= answer._id %>/edit" method="GET"
    >
      <button type="submit">edit</button>
    </form>
  <% }) %>
<% } else { %>
  <h2>
    <%= isSelf ? "You don't" : `${profile.name} doesn't` %> have any questions and answers!
  </h2>
<% } %>

</main>

<%- include('../partials/footer') %>
