<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1> <%= profile.name %></h1>

  <% if (profile.avatar) { %>
    <div>
      <img id="avatar"
        src="<%= profile.avatar %>"
        alt="<%= profile.name %> avatar"
      />
    </div>
  <% } %>
</main>

<% if (profile.answers.length) { %>
  <% profile.answers.forEach(answer => { %>
    <h3>
      <%= answer.question%>
      <%= answer.text %>
      <% if (isSelf) { %>
        <form
          action="/profiles/answers/<%= answer._id %>?_method=DELETE"
          method="POST"
          style="display: inline-block;"
        >
          <button type="submit">delete</button>
        </form>
      <% } %>
    </h3>
  <% }) %>
<% } else { %>
  <h2>
    <%= isSelf ? "You don't" : `${profile.name} doesn't` %> have any questions and answers!
  </h2>
<% } %>


<%- include('../partials/footer') %>
