<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/show.css">
<%- include('../partials/nav') %>

<main>
  <section>
    <div id="profile-avatar-name-div">
      <% if (profile.avatar) { %>
          <img id="avatar"
          src="<%= profile.avatar %>"
          alt="<%= profile.name %> avatar"
          />
        <% } %>
      <h1 id="avatar-name"> <%= profile.name %></h1>
    </div>
    <% profile.answers.slice().reverse().forEach(answer => { %>
      <% if (answer.author.equals(profile._id)) { %>
        <div id="profile-qa-div">
          <p class="question"><%= answer.question.text %></p>
          <p class="answer"><%= answer.text %></p>
          <% if (answer.comments.length > 0) { %>
            <p>comments:</p>
          <% } %>
          <ul>
            <% answer.comments.slice().reverse().forEach(function(comment) { %>
                <li class="comment-li"><%= comment.text %></li>
            <% }) %>
          </ul>
      <% } %>
      <details>
        <summary>add a comment</summary>
        <div class="form-div">
        <form
          id="add-comment-form"
          action="/answers/<%= answer._id %>/comments"
          method="POST"
        >
          <input name="text">
          <span></span>
          <button type="submit" class="btn btn-warning btn-sm">add</button>
        </form>
      </div>
      </details>
      <% if (answer.author.equals(user?.profile._id)) { %>
        <details>
          <summary>update or delete question</summary>
          <div class="form-div">
            <form action="/answers/<%= answer._id %>?_method=PUT" method="POST">
              <input
                type="text"
                name="text"
                value=" <%= answer.text %> "
                autocomplete="off"
              >
              <span></span>
              <button class="btn btn-success btn-sm" type="submit">update</button>
            </form>
            <form id="delete-form"
              action="/answers/<%= answer._id %>?_method=DELETE"
              method="POST"
              style="display: inline-block;"
            >
              <button class="btn btn-danger btn-sm" type="submit">delete</button>
            </form>
          </div>
        </details>
      <% } %>
    </div>
    <% }) %>
</section>
</main>

<%- include('../partials/footer') %>
