<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>

    <% if (profile.avatar) { %>
      <div class="avatar-name-div">
        <img id="avatar"
        src="<%= profile.avatar %>"
        alt="<%= profile.name %> avatar"
        />
      </div>
      <% } %>
    <h1> <%= profile.name %></h1>
  <section>
    <% profile.answers.forEach(answer => { %>
      <% if (answer.author.equals(profile._id)) { %>
        <p><%= answer.question.text %></p>
        <p><%= answer.text %></p>
        <ul>
          <% answer.comments.slice().reverse().forEach(function(comment) { %>
              <li><%= comment.commenter %>: <%= comment.text %></li>
          <% }) %>
        </ul>
      <% } %>
      <details>
        <summary>add a comment</summary>
        <form
          id="add-comment-form"
          action="/answers/<%= answer._id %>/comments"
          method="POST"
        >
          <input name="text">
          <button type="submit">Add Comment</button>
        </form>
      </details>
      <% if (answer.author.equals(user?.profile._id)) { %>
        <div class="input-group">
        <form id="update-form" action="/answers/<%= answer._id %>?_method=PUT" method="POST">
          <input
            type="text"
            name="text"
            value=" <%= answer.text %> "
            autocomplete="off"
          >
          <button class="btn btn-secondary btn-sm" type="submit">update</button>
        </form>
        <form
          action="/answers/<%= answer._id %>?_method=DELETE"
          method="POST"
          style="display: inline-block;"
        >
          <button class="btn btn-secondary btn-sm" type="submit">delete</button>
        </form>
      </div>
      <% } %>
    <% }) %>
</section>
</main>

<%- include('../partials/footer') %>
