<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section>
    <div class="top"></div>
    <% answers.slice().reverse().forEach(answer => { %>
      <div id="primary-qa-div">
        <div class="avatar-name-div">
          <img id="avatar"
            src="<%= answer.author.avatar %>"
            alt="<%= answer.author.name %> avatar"
          />
          <%= answer.author.name %>
          </div>

          <div id="qa-div">
            <p class="question">
              <%= answer.question.text %>
            </p>
            <p class="answer">
              <%= answer.text %>
            </p>
            <% if (answer.comments.length > 0) { %>
              <p>comments:</p>
            <% } %>
            <ul>
              <% answer.comments.slice().reverse().forEach(function(comment) { %>
                  <li class="comment-li"><%= comment.text %></li>
              <% }) %>
            </ul>
            <details>
              <summary>add a comment</summary>
              <form
                id="add-comment-form"
                action="/answers/<%= answer._id %>/comments"
                method="POST"
              >
                <input name="text">
                <button type="submit" class="btn btn-secondary btn-sm">add</button>
              </form>
            </details>
          </div>

        </div>
      </div>
    <% }) %>
  </section>
</main>

<%- include('../partials/footer') %>
