<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>ANSWERS FEED</h1>

  <ul>
    <% answers.forEach(answer => { %>
      <li>
        <%= answer.author.name %>
        <div>
          <a href="/profiles/<%= user.profile._id %>">
          <img id="avatar"
            src="<%= answer.author.avatar %>"
            alt="<%= answer.author.name %> avatar"
          />
        </a>
        </div>
        <%= answer.question.text %>
        <%= answer.text %>
      </li>
    <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>
