<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>ANSWERS FEED</h1>

<!-- attach the question -->
  <ul>
    <% answers.forEach(answer => { %>
      <li>
        <%= answer.question.text %></a>
        <%= answer.text %></a>
    <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>
