<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>ANSWERS FEED</h1>

  <ul>
    <% answers.forEach(answer => { %>
      <li>
        <%= answer.author.name %>
        <img id="avatar" src="<%=answer.author.avatar %>">
        <%= answer.question.text %>
        <%= answer.text %>
      </li>
    <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>
