<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <h1><%= answers.author %>'s Q&A</h1>

  <% answers.forEach(answer => { %>
    <h3>
      <% if (answer.author.equals(user?.profile._id)) { %>
      <% answer.question.text %>
        <input
          type="text"
          name="text"
          value="<%= answer.text %>"
          autocomplete="off"
        >
        <form
          action="/answers/<%= answer._id %>?_method=PUT" method="POST"
        >
          <button type="submit">update</button>
        </form>
        <form
          action="/answers/<%= answer._id %>?_method=DELETE"
          method="POST"
          style="display: inline-block;"
        >
          <button type="submit">delete</button>
        </form>
      <% } %>
    </h3>
  <% }) %>


</main>

<%- include('../partials/footer') %>
