<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section>
    <div class="top"></div>
    <h1 id="click-question">share your experiences</h1>
    <% questions.slice().reverse().forEach(question => { %>
      <div class="new-question">
        <details>
          <summary><%= question.text %></a></summary>
          <% if (user) { %>
            <form action="/answers" method="POST">
              <input type="text" name="text" autocomplete="off">
              <input name="question" value="<%= question._id %>" type="hidden">
              <button type="submit" class="btn btn-secondary btn-sm">save</button>
            </form>
          <% } %>
        </details>
      </div>
      <% }) %>
  </section>
</main>

<%- include('../partials/footer') %>
