<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section>
    <div class="top"></div>
    <h1><%= title %></h1>

    <div class="new-question">
      <form action="/questions" method="POST">
        <input type="text" name="text">
        <span></span>
        <button type="submit" class="btn btn-warning btn-sm">add</button>
      </form>
    </div>

      <% questions.slice().reverse().forEach(function(question) { %>
        <div class="new-question">
          <p id="question-line"><%= question.text %></p>
          <form
            action="/questions/<%= question._id %>?_method=PUT" method="POST"
            >
            <input
            type="text"
            name="text"
            value=" <%= question.text %> "
            autocomplete="off"
            >
            <span></span>
            <button type="submit" class="btn btn-success btn-sm">update</button>
          </form>
      </div>
      <!-- <form
        action="/questions/<#%= question._id %>?_method=DELETE"
        method="POST"
        style="display: inline-block;"
        >
        <button type="submit" class="btn btn-secondary btn-sm">delete</button>
      </form> -->
      <% }) %>
  </section>
</main>

<%- include('../partials/footer') %>
