<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>

  <form id="add-question-form" action="/questions" method="POST">
    <label for="text-input">Question:</label>
    <input type="text" name="text" id="text-input">
    <button class="btn btn-secondary" type="submit">Add a Question</button>
  </form>

    <ul>
      <% questions.forEach(function(question) { %>
        <li id="question-line"><%= question.text %></li>
        <form
        action="/questions/<%= question._id %>?_method=PUT" method="POST"
        >
        <input
        type="text"
        name="text"
        value=" <%= question.text %> "
        autocomplete="off"
        >
        <button type="submit">update</button>
      </form>
      <form
        action="/questions/<%= question._id %>?_method=DELETE"
        method="POST"
        style="display: inline-block;"
        >
        <button type="submit">delete</button>
      </form>
      <% }) %>
    </ul>

</main>

<%- include('../partials/footer') %>
